@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
	*
	{
		font-family: 'Pretendard';
	}
	
	body
	{
		background-color: #f0f2f5;
		
	}
	h1{text-align: center;}
	hr{border: 1px solid #3fa4fc;}
	.wrap
	{
		background-color: #fff;
		padding: 20px 10px;
		border-radius: 10px;
		box-shadow: 10px 10px 100px rgba(0,0,0,0.1);
		margin: 50px auto;
	}
	.wrap table
	{
		width: 70%;
		margin: 20px auto;
	}
	.errMsg
	{
		font-size: small; color: red; display: none;
	}
	.inTxt
	{
		width: 150px; height: 30px;
		border: none; border-radius: 10px;
		background-color: #e8f4ff;
		padding-left: 10px; box-sizing: border-box;
	}
	.btns
	{
		width: 100%; height: 35px;
		border: none; 
		background-color: #78c0ff; color: #fff;
		font-weight: bold; font-size: 18px;
		border-radius: 8px;
		margin-top: 5px;
	}
	.btns:hover
	{
		background-color: #3fa4fc;
	}